extends includes/base

block content
    div.al_page_background.dis_flex_center.al_full_cover
    div.al_page_container
        div.al_pos_ab.al_fake_background
        div.al_main_container.al_main_page_container
            article.al_article
                header
                    h1.al_page_title= page.title
                    div.al_page_info.dis_flex
                        div.al_page_content_info
                            |#{date(page.date, 'MMM DD, YYYY h:mm')}
                        div.al_page_content_info
                            |#{wordcount(page.content)} words
                        div.al_page_content_info
                            |#{min2read(page.content)} minutes read
                        span.tags

                if toc(page.content)
                    div.al_page_content_outline!= toc(page.content,{list_number:false})

                section#post-body!=page.content

                include ./includes/disqus.pug

            - var prev = page.prev ? page.prev.path : false;
            - var next = page.next ? page.next.path : false;
            nav.dis_flex.post-nav
                span.prev
                    if page.prev
                        a(href=url_for(prev))
                            span.arrow ←
                            | Newer Posts
                span.next
                    if page.next
                        a(href=url_for(next))
                            | Older Posts
                            span.arrow →

    if config.highlight.enable
        script(type='text/javascript', src=url_for('./javascripts/highlight.pack.js'))
        script!= "document.querySelectorAll('figure.highlight').forEach(function(b){hljs.highlightBlock(b);});"

            //- include includes/comment.pug
